# Data Science Tools and Ecosystem

## Author: Zak

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Highlight some of the common data science programming languages
* show some of the data science tools
* Show simple arithmetic in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborne 
4. Matplotlib

# Data Science Tools

| Data Science Tools |
---------------------
| Plots and Graphs   |\
|Statistical Methods |\
| Machine Learning   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335